<p-panel [header]="'Company.ActivitiesAndNotes' | translate" [toggleable]="true">
  <div class="grid grid-cols-2">
    <div>
      <p-button
        icon="pi pi-plus"
        [label]="'Company.AddActivity' | translate"
        severity="info"
        (onClick)="showCreateDealActivityDialog()"
      />
      <p-button
        icon="pi pi-file"
        [label]="'Company.TakeNotes' | translate"
        severity="info"
        class="ml-[10px]"
        (onClick)="showCreateDealActivityNoteDialog()"
      />
    </div>
    <div class="flex justify-end">
      <span class="mr-[5px] pt-[8px]">{{ "Common.ShowAll" | translate }}</span>
      <p-toggleswitch [(ngModel)]="isShowAll" (onChange)="onToggleShowAll()">
        <ng-template #handle let-checked="checked">
          <span>{{
            checked ? ("Common.All" | translate) : ("Common.Last10" | translate)
          }}</span>
        </ng-template>
      </p-toggleswitch>
    </div>
  </div>
  <div class="pt-[10px]">
    <app-table
      [columns]="activitiesColumns"
      [data]="activities"
      [rows]="5"
      [lazy]="true"
      [totalRecords]="totalRecords"
      (onPageChange)="pageChange($event)"
      name="activity-table"
    >
      <ng-template let-activity #actionButtons>
        @if (hasNoDeal(activity)) {
          <i
            class="pi pi-file-edit text-blue-600 cursor-pointer"
            (click)="onEditActivityCell(activity)"
          ></i>
        } @else {
          <a
            [href]="getSaleDealActivityUrl(activity)"
            class="pi pi-arrow-right"
          ></a>
          <a
            [href]="getEditDealUrl(activity)"
            class="pi pi-gift text-blue-600"
          ></a>
        }
      </ng-template>
    </app-table>
  </div>
</p-panel>
